@model AutomobileWebsite.Presentation.Mvc.Administrator.ViewModels.DealershipViewModel

@{
    ViewData["Title"] = "Create";
}

<h4>Add New Dealership</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DealershipName" class="control-label"></label>
                <input asp-for="DealershipName" class="form-control" />
                <span asp-validation-for="DealershipName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Street" class="control-label"></label>
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StateID" class="control-label"></label>
                <select asp-for="StateID" class="form-control" asp-items="Model.States"></select>
                <span asp-validation-for="StateID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZipCode" class="control-label"></label>
                <input asp-for="ZipCode" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        @if (!string.IsNullOrWhiteSpace(Model.SuccessMessage))
        {
            <label class="success-message">@Model.SuccessMessage</label>

        }
        else if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
        {
            <div class="error-message">@Model.ErrorMessage</div>
        }
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $(".btn").click(function () {
                $(".success-message").text("");
                $(".error-message").text("");
            });
        });
    </script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/DealershipForm.css" />
}
