@model AutomobileWebsite.Presentation.Mvc.Administrator.ViewModels.DealershipAddressFormViewModel

@{
    ViewData["Title"] = @Model.Heading;
}

<h4>@Model.Heading</h4>
<hr />
@Html.Partial("DealershipAddressFormPartial", Model)

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/dealership-address-form.js" type="text/javascript"></script>
}
